<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Dashboard
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <!-- JUDUL -->
  <div class="dashboard-header">

    <h1>
      Selamat Datang di SIMOBILE
    </h1>

    <p>
      Sistem Kasir Mobile
    </p>

  </div>


  <!-- JUMLAH PRODUK -->
  <ion-card>

    <ion-card-header>

      <ion-card-title>
        Jumlah Produk
      </ion-card-title>

    </ion-card-header>


    <ion-card-content>

      <h1>
        {{ totalProducts }}
      </h1>

      <p>
        Produk tersedia di sistem
      </p>

    </ion-card-content>

  </ion-card>


  <!-- TRANSAKSI HARI INI -->
  <ion-card>

    <ion-card-header>

      <ion-card-title>
        Total Transaksi Hari Ini
      </ion-card-title>

    </ion-card-header>


    <ion-card-content>

      <h1>
        Rp {{ todayTransactionTotal | number:'1.0-0' }}
      </h1>

      <p>
        Total penjualan hari ini
      </p>

    </ion-card-content>

  </ion-card>


  <!-- PRODUK TERLARIS -->
  <ion-card>

    <ion-card-header>

      <ion-card-title>
        Produk Terlaris
      </ion-card-title>

    </ion-card-header>


    <ion-card-content>

      <h1>
        {{ bestSellingProduct }}
      </h1>

      <p>
        Produk dengan jumlah penjualan terbanyak
      </p>

    </ion-card-content>

  </ion-card>


</ion-content>