.logout-container {
  padding: 20px;
}

.logout-container ion-card {
  text-align: center;
}

.logout-icon {
  font-size: 70px;
  margin: 20px 0;
}

.logout-container p {
  margin-bottom: 25px;
}